@import './sections.scss';
@import './infite-well.scss';
@import './fancy-cards.scss';
@import './phone-scroll.scss';
@import './tinder-template.scss';
@import './border-animation.scss';
@import './side-menu.scss';

/* -------------------------------- */
/*            Variables             */
/* -------------------------------- */

:root {
  --bg-black: #1b1b1c;
  --text-color: #e7e7e7;
}

/* -------------------------------- */
/*            Base setup            */
/* -------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------- */
/*              Reset               */
/* -------------------------------- */

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make lists easier to work with */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* -------------------------------- */
/*          Global styling          */
/* -------------------------------- */

body {
  position: relative;

  background: var(--bg-black);

  color: var(--text-color);
  font-family: 'Roboto Mono', monospace;
}

/* -------------------------------- */
/*         Specific styling         */
/* -------------------------------- */

//...
