.icons-in-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // gap: 16px;
}

#side-menu {
  .menu {
    $border-color: rgba(255, 0, 0, 0.9);
    $transparent: rgba(0, 0, 0, 0);

    // @extend .icons-in-menu-container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--side-menu-rows), 1fr);

    width: 42px;
    height: 100%;
    // padding: 16px 0 24px 0;
    // border-right: 1px solid rgba(255, 0, 0, 0.9);
    // box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.75);
    // animation: border-glow 10s ease infinite;

    .tile {
      width: 42px;
      height: 42px;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      background:
        linear-gradient($transparent 0 0) top / 100% 1px,
        linear-gradient($transparent 0 0) bottom / 100% 1px,
        linear-gradient($transparent 0 0) left / 1px 100%,
        linear-gradient($border-color 0 0) right / 1px 100%;
      background-repeat: no-repeat;
      // transition: all 0.9s; // TODO: Not really working...

      box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.75);
      clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 200%, 200% 200%, 200% -100%, 100% -100%);

      &:hover {
        background:
          linear-gradient($border-color 0 0) top / 100% 1px,
          // linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.75) 30%),
          linear-gradient($border-color 0 0) bottom / 100% 1px,
          linear-gradient($transparent 0 0) left / 1px 100%,
          linear-gradient($transparent 0 0) right / 1px 100%,
          $transparent;
        background-repeat: no-repeat;
        box-shadow: none;
        clip-path: unset;
      }
    }

    .top,
    .bottom {
      @extend .icons-in-menu-container;
      width: 100%;

      .icon-container {
        width: 100%;
        height: 42px;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border: 1px solid rgba(255, 0, 0, 0);
        transition: border 0.2s ease-in-out;

        // &::before {
        //   content: '';
        //   width: 200%;
        //   height: 100%;
        //   position: absolute;
        //   background: var(--bg-black);
        // }

        &:hover {
          border-top: 1px solid rgba(255, 0, 0, 0.9);
          border-bottom: 1px solid rgba(255, 0, 0, 0.9);
        }
      }
    }
  }

  @keyframes border-glow {
    0% {
      box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.75);
    }
    33% {
      box-shadow: 2px 0px 19px 2px rgba(255, 0, 0, 0.6);
    }
    66% {
      box-shadow: -2px 0px 21px 1px rgba(255, 0, 0, 0.8);
    }
    100% {
      box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.75);
    }
  }
}
