// Inspired by https://codepen.io/Gogh/pen/gOqVqBx

@property --corner-gradient-opacity-tl {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --corner-gradient-opacity-tr {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --corner-gradient-opacity-bl {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --corner-gradient-opacity-br {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

#string-rings {
  // https://stackoverflow.com/a/12231680/11763719
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #corner-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    --timing: 100ms;
    transition:
      --corner-gradient-opacity-tl var(--timing) ease-in-out,
      --corner-gradient-opacity-tr var(--timing) ease-in-out,
      --corner-gradient-opacity-bl var(--timing) ease-in-out,
      --corner-gradient-opacity-br var(--timing) ease-in-out;

    background: radial-gradient(
        circle at -5% -5%,
        rgba(255, 255, 255, calc(var(--corner-gradient-opacity-tl) * 1%)) 10%,
        transparent 50%
      ),
      radial-gradient(
        circle at 105% -5%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-tr) * 1%)) 10%,
        transparent 50%
      ),
      radial-gradient(
        circle at -5% 105%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-bl) * 1%)) 10%,
        transparent 50%
      ),
      radial-gradient(
        circle at 105% 105%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-br) * 1%)) 10%,
        transparent 50%
      );
    background-size: 50% 50%;
    background-position:
      -5% -5%,
      105% -5%,
      -5% 105%,
      105% 105%;
    background-repeat: no-repeat;
    filter: blur(25px) brightness(70%);
  }

  #ring-controls-container {
    position: absolute;
    top: 15px;
    left: 15px;

    transition: all 0.3s ease-in-out;
    // opacity: 0;

    &:hover {
      opacity: 1;
    }

    .ring-selection-control-label {
      width: 7ch;
    }

    .control-button {
      background: none;
      outline: none;
      border: none;
      padding: 0;
      color: var(--color-text);
      font-size: 2em;
      line-height: 0.6em;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(0 0 8px var(--color-text));
      }
    }
  }

  #rings-container {
    position: relative;
    width: 550px;
    height: 550px;

    &:hover .ring {
      box-shadow:
        0px 0px 0px 3px var(--color),
        inset 0px 0px 0px 3px var(--color);
      filter: drop-shadow(0 0 12px var(--color));
    }
  }

  .ring {
    position: absolute;
    inset: 0;
    box-shadow:
      0px 0px 0px 0px #fff,
      inset 0px 0px 0px 2px #fff;
    transition: all 0.25s linear;
    pointer-events: none;

    border-radius: var(--border-radius-TL) var(--border-radius-TR) var(--border-radius-BR) var(--border-radius-BL) / 50%
      50% 50% 50%;
    // TODO: To not have a jump to the beginning of the animation I use "infinite alternate-reverse" here, but I would like to
    // have it continue "forwards" forever instead
    animation: animate-border-rad-n-rotatation 10s linear infinite alternate-reverse;

    // We don't animate x and y just z
    transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(var(--rotation-z));

    @keyframes animate-border-rad-n-rotatation {
      from {
        transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(0deg);
      }
      to {
        transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(var(--rotation-z));
      }
    }
  }

  .container-interactions {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    opacity: 0;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
