// Inspired by https://codepen.io/Gogh/pen/gOqVqBx

@property --corner-gradient-opacity-tl {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --corner-gradient-opacity-tr {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --corner-gradient-opacity-bl {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@property --corner-gradient-opacity-br {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

#string-rings {
  // https://stackoverflow.com/a/12231680/11763719
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #corner-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    --timing: 100ms;
    transition:
      --corner-gradient-opacity-tl var(--timing) ease-in-out,
      --corner-gradient-opacity-tr var(--timing) ease-in-out,
      --corner-gradient-opacity-bl var(--timing) ease-in-out,
      --corner-gradient-opacity-br var(--timing) ease-in-out;

    background: radial-gradient(
        circle at -5% -5%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-tl) * 1%)) 10%,
        transparent 50%
      ),
      radial-gradient(
        circle at 105% -5%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-tr) * 1%)) 10%,
        transparent 50%
      ),
      radial-gradient(
        circle at -5% 105%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-bl) * 1%)) 10%,
        transparent 50%
      ),
      radial-gradient(
        circle at 105% 105%,
        rgba(128, 128, 128, calc(var(--corner-gradient-opacity-br) * 1%)) 10%,
        transparent 50%
      );
    background-size: 50% 50%;
    background-position:
      -5% -5%,
      105% -5%,
      -5% 105%,
      105% 105%;
    background-repeat: no-repeat;
    filter: blur(25px) brightness(70%);
  }

  #ring-controls-container {
    position: absolute;
    top: 15px;
    left: 15px;

    transition: all 0.5s ease-in-out;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    .control-button {
      background: none;
      outline: none;
      border: none;
      padding: 0;
      color: var(--color-text);
      font-size: 2em;
      line-height: 0.6em;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(0 0 8px var(--color-text));
      }
    }
  }

  #rings-container {
    position: relative;
    width: 550px;
    height: 550px;

    &:hover .ring,
    &.show-ring-colors .ring {
      box-shadow:
        0px 0px 0px 3px var(--color),
        inset 0px 0px 0px 3px var(--color);
      filter: drop-shadow(0 0 12px var(--color));
    }
  }

  .ring {
    position: absolute;
    inset: 0;
    box-shadow:
      0px 0px 0px 0px #fff,
      inset 0px 0px 0px 2px #fff;
    transition: all 0.25s linear;
    pointer-events: none;

    border-radius: var(--border-radius-TL) var(--border-radius-TR) var(--border-radius-BR) var(--border-radius-BL) / 50%
      50% 50% 50%;
    // TODO: To not have a jump to the beginning of the animation I use "infinite alternate-reverse" here, but I would like to
    // have it continue "forwards" forever instead
    animation: animate-border-rad-n-rotatation 10s linear infinite alternate-reverse;

    // We don't animate x and y just z
    transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(var(--rotation-z));

    @keyframes animate-border-rad-n-rotatation {
      from {
        transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(0deg);
      }
      to {
        transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(var(--rotation-z));
      }
    }
  }

  .container-interactions {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    opacity: 0;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    height: 0.5em;
    opacity: 0.7;

    border: 1px solid #ffffff42;
    border-radius: 999px;
    box-shadow: inset 0px 0px 8px #2f2f2f9e;

    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 0.5em;
      height: 1.25em;
      border-radius: 999px;
      background: rgba(241, 235, 255, 0.95);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 0.5em;
      height: 1.25em;
      border-radius: 999px;
      background: rgba(241, 235, 255, 0.95);
      cursor: pointer;
    }
  }

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font: inherit;
    color: currentColor;

    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #ffffff42;
    box-shadow: inset 0px 0px 0.5em #2f2f2f9e;
    border-radius: 50%;
    transform: translateY(0.05em); // Looks slightly unaligned without this

    display: grid;
    place-content: center;

    transition: opacity 0.2s ease-in-out;
    opacity: 0.7;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &::before {
      content: '';
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em rgba(241, 235, 255, 0.95);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  .color-picker-wrapper {
    position: relative;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.7;
    width: 7ch;

    &:hover,
    &:focus {
      opacity: 1;
    }

    input[type='color'] {
      border: none;
      background-color: transparent;
      font: inherit;
      padding: 0;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}
