@use 'sass:math';

@font-face {
  font-family: proximanova-regular;
  font-weight: normal;
  src: url('../public/fonts/Fontspring-DEMO-proximanova-regular.otf') format('opentype');
}

@font-face {
  font-family: proximanova-semibold;
  font-weight: bold;
  src: url('../public/fonts/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
}

$aspect-ratio: 1.65;
$box-padding: 12px;
$app-background: #d0cbed;

#tinder-template {
  .proximanova-regular {
    font-family: 'proximanova-regular', 'Helvetica';
  }

  .proximanova-semibold {
    font-family: 'proximanova-semibold', 'Helvetica';
  }

  .heading {
    color: #21262e;

    font-size: 1.1rem !important;
    font-weight: initial !important;
    line-height: 1rem !important;
  }

  .box-heading {
    color: #505965;

    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.1rem;
  }

  .text-1 {
    color: #505965;

    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .app-window {
    width: 350px;
    aspect-ratio: calc(math.floor(calc(1 / $aspect-ratio) * 1000) / 1000); // Use only 3 decimals

    position: relative;

    display: flex;
    flex-direction: column;

    background: $app-background;
    // background: linear-gradient(
    //   180deg,
    //   rgba(164, 159, 189, 0) 0%,
    //   rgba(164, 159, 189, 0.5186449579831933) 90%,
    //   rgba(164, 159, 189, 0.6082808123249299) 100%
    // );
    color: #21262e;
    font-family: 'proximanova-regular', 'Helvetica';
  }

  .fade-out-wrapper {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    background: linear-gradient(180deg, #00000000 90%, $app-background 100%);
  }

  .box {
    background: #fff;
    border-radius: 10px;
    padding: $box-padding;
    margin-bottom: 4px;
  }

  .banner {
    display: flex;
    align-items: center;

    border-radius: 0;
    margin: 0;

    .name {
      margin-right: 6px;
    }

    .age {
      margin-right: 6px;
    }
  }

  .image-container {
    overflow: hidden;
    height: 66%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .fancy-quote-mark {
    font-size: 1rem;
    margin-right: 4px;
    line-height: 0.1rem;
    vertical-align: -webkit-baseline-middle;
  }

  .svg-icon {
    vertical-align: middle;
  }
}
