/* -------------------------------- */
/*            Variables             */
/* -------------------------------- */

:root {
  --bg-black: #101016;
  --text-color: #e7e7e7;

  --hexagon-size: 100px;
}

/* -------------------------------- */
/*            Base setup            */
/* -------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------- */
/*              Reset               */
/* -------------------------------- */

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make lists easier to work with */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* -------------------------------- */
/*          Global styling          */
/* -------------------------------- */

body {
  font-family: 'Roboto Mono', monospace;
  background: var(--bg-black);
  color: var(--text-color);

  position: relative;
}

.section-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
}
.section:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* -------------------------------- */
/*         Specific styling         */
/* -------------------------------- */

/* ---------- infite-well --------- */

#infite-well {
  .hexagon-container {
    transform: translate(calc(var(--hexagon-size) / 6 * -1), calc(var(--hexagon-size) / 3 * -1));
  }

  .hexagon-row {
    display: flex;
  }

  $hexagonGapInit: calc(var(--hexagon-size) / 6 * -1);
  $shiftLeft: calc(var(--hexagon-size) / 2 * -1);
  $n: 12;
  @for $i from 1 through $n {
    .hexagon-row:nth-child(#{$i}) {
      // Even rows should be moved to the left half a hexagon
      @if $i % 2 == 0 {
        transform: translateY(calc($hexagonGapInit * $i)) translateX($shiftLeft);
      } @else {
        transform: translateY(calc($hexagonGapInit * $i));
      }
    }
  }

  .hexagon {
    display: inline-block;
    min-width: var(--hexagon-size);
    min-height: var(--hexagon-size);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background: goldenrod;

    &--empty {
      @extend .hexagon;
      background: none;
    }
  }
}

#fancy-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  $aspect-ratio: 1.4;
  $border-size: 3px;
  $corner-cutoff: 12%;
  $corner-other: calc($corner-cutoff / $aspect-ratio);
  $corners-off: polygon(
    $corner-cutoff 0,
    0 $corner-other,
    0% calc(100% - $corner-other),
    $corner-cutoff 100%,
    calc(100% - $corner-cutoff) 100%,
    100% calc(100% - $corner-other),
    100% $corner-other,
    calc(100% - $corner-cutoff) 0
  );

  .left {
    // https://unsplash.com/photos/NNTGEoohoE4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    --background-image: url('../public/images/fancy-cards-red-bg.jpg');
    --color-border: rgb(255, 33, 33);
    --rotation: rotate(-8deg) translateX(-35%) translateY(15%);
  }
  .middle {
    // https://unsplash.com/photos/OOE4xAnBhKo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    --background-image: url('../public/images/fancy-cards-green-bg.jpg');
    --color-border: rgb(48, 255, 21);
    --rotation: '';
  }
  .right {
    // https://unsplash.com/photos/J1t1FY__6EI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    --background-image: url('../public/images/fancy-cards-blue-bg.jpg');
    --color-border: rgb(21, 25, 255);
    --rotation: rotate(8deg) translateX(35%) translateY(15%);
  }

  .card-wrapper {
    position: relative;
    transform: var(--rotation);

    .triangle-wrapper {
      $triangle-size: 25px;
      $border-fix: 12%;
      $triangle-pos: -10px;

      margin: 12px;
      width: fit-content;
      position: absolute;
      padding: $border-size - 1px;
      background: var(--color-border);
      clip-path: polygon(100% 0, 0 0, 0 100%);

      &--top-left {
        @extend .triangle-wrapper;
        top: $triangle-pos;
        left: $triangle-pos;
      }
      &--top-right {
        @extend .triangle-wrapper;
        top: $triangle-pos;
        right: $triangle-pos;
        transform: rotate(90deg);
      }
      &--bottom-right {
        @extend .triangle-wrapper;
        bottom: $triangle-pos;
        right: $triangle-pos;
        transform: rotate(180deg);
      }
      &--bottom-left {
        @extend .triangle-wrapper;
        bottom: $triangle-pos;
        left: $triangle-pos;
        transform: rotate(270deg);
      }

      .triangle {
        width: $triangle-size;
        height: $triangle-size;
        background: var(--background-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(2px);
        clip-path: polygon(calc(100% - $border-fix) 0, 0 0, 0 calc(100% - $border-fix));
      }
    }

    .card-wrapper-borders {
      position: relative;
      padding: $border-size;
      $corner-cutoff: 10%;
      background-image: var(--background-image);
      background-size: cover;
      clip-path: $corners-off;

      .corner-box {
        $corner-box-size: 75px;
        position: absolute;
        min-width: $corner-box-size;
        height: $corner-box-size;
        background: var(--color-border);

        &--top-left {
          @extend .corner-box;
          top: 0;
          left: 0;
        }
        &--top-right {
          @extend .corner-box;
          top: 0;
          right: 0;
        }
        &--bottom-right {
          @extend .corner-box;
          bottom: 0;
          right: 0;
        }
        &--bottom-left {
          @extend .corner-box;
          bottom: 0;
          left: 0;
        }
      }

      .middle-border {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 50px;
        border-left: $border-size solid var(--color-border);
        border-right: $border-size solid var(--color-border);
        transform: translateY(60%);

        .line {
          height: $border-size;
          background: var(--color-border);

          &--left {
            @extend .line;
            width: 12%;
          }
          &--middle {
            @extend .line;
            width: 50%;
          }
          &--right {
            @extend .line;
            width: 12%;
          }
        }
      }

      // .deg-45 {
      //   position: absolute;
      //   top: 28px;
      //   left: -42px;
      //   width: 100px;
      //   z-index: 5;
      //   height: 8px;
      //   background: red;
      //   transform: rotate(-45deg);
      // }
    }

    .card {
      min-width: 350px;
      aspect-ratio: calc(1 / $aspect-ratio);
      position: relative;
      background-image: var(--background-image);
      background-size: cover;
      clip-path: $corners-off;
    }
  }
}
