@use 'sass:math';

/* -------------------------------- */
/*            Variables             */
/* -------------------------------- */

:root {
  --bg-black: #101016;
  --text-color: #e7e7e7;

  --hexagon-size: 100px;
}

/* -------------------------------- */
/*            Base setup            */
/* -------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------- */
/*              Reset               */
/* -------------------------------- */

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make lists easier to work with */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* -------------------------------- */
/*          Global styling          */
/* -------------------------------- */

body {
  font-family: 'Roboto Mono', monospace;
  background: var(--bg-black);
  color: var(--text-color);

  position: relative;
}

.section-container {
  height: 100%;
  overflow-y: scroll;
  // overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  // overflow: hidden;
}
.section:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* -------------------------------- */
/*         Specific styling         */
/* -------------------------------- */

/* ---------- infite-well --------- */

#infite-well {
  .hexagon-container {
    transform: translate(calc(var(--hexagon-size) / 6 * -1), calc(var(--hexagon-size) / 3 * -1));
  }

  .hexagon-row {
    display: flex;
  }

  $hexagonGapInit: calc(var(--hexagon-size) / 6 * -1);
  $shiftLeft: calc(var(--hexagon-size) / 2 * -1);
  $n: 12;
  @for $i from 1 through $n {
    .hexagon-row:nth-child(#{$i}) {
      // Even rows should be moved to the left half a hexagon
      @if $i % 2 == 0 {
        transform: translateY(calc($hexagonGapInit * $i)) translateX($shiftLeft);
      } @else {
        transform: translateY(calc($hexagonGapInit * $i));
      }
    }
  }

  .hexagon {
    display: inline-block;
    min-width: var(--hexagon-size);
    min-height: var(--hexagon-size);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background: goldenrod;

    &--empty {
      @extend .hexagon;
      background: none;
    }
  }
}

#fancy-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  $card-width: 350px;
  $aspect-ratio: 1.4;
  $border-size: 4px;
  $corner-cutoff: 12%;
  $corner-other: calc($corner-cutoff / $aspect-ratio);
  $corners-off: polygon(
    $corner-cutoff 0,
    0 $corner-other,
    0% calc(100% - $corner-other),
    $corner-cutoff 100%,
    calc(100% - $corner-cutoff) 100%,
    100% calc(100% - $corner-other),
    100% $corner-other,
    calc(100% - $corner-cutoff) 0
  );
  $neon-glow-shadow:
    0 0 9px #ffffff62,
    0 0 21px var(--color-border-glow),
    0 0 151px var(--color-border-glow);

  .left {
    // https://unsplash.com/photos/NNTGEoohoE4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    --background-image: url('../public/images/fancy-cards-red-bg.jpg');
    --color-border: rgb(255, 33, 33);
    --color-border-glow: rgba(255, 33, 33, 0.25);
    --rotation: rotate(-8deg) translateX(-35%) translateY(15%);
  }
  .middle {
    // https://unsplash.com/photos/OOE4xAnBhKo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    --background-image: url('../public/images/fancy-cards-green-bg.jpg');
    --color-border: rgb(48, 255, 21);
    --color-border-glow: rgba(48, 255, 21, 0.25);
    --rotation: '';
  }
  .right {
    // https://unsplash.com/photos/J1t1FY__6EI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    --background-image: url('../public/images/fancy-cards-blue-bg.jpg');
    --color-border: rgb(21, 25, 255);
    --color-border-glow: rgba(21, 25, 255, 0.25);
    --rotation: rotate(8deg) translateX(35%) translateY(15%);
  }

  .card-wrapper {
    position: relative;
    transform: var(--rotation);

    .neon-drop-shadow {
      // Like $neon-glow-shadow
      filter: drop-shadow(0 0 9px #ffffff62) drop-shadow(0 0 21px var(--color-border-glow))
        drop-shadow(0 0 151px var(--color-border-glow));
    }

    .triangle-wrapper {
      $triangle-size: 25px;
      $triangle-border-fix: 17%;
      $triangle-pos: -10px;

      margin: 12px;
      width: fit-content;
      position: absolute;
      padding: $border-size - 1px;
      background: var(--color-border);
      clip-path: polygon(100% 0, 0 0, 0 100%);

      &--top-left {
        @extend .triangle-wrapper;
        top: $triangle-pos;
        left: $triangle-pos;
      }
      &--top-right {
        @extend .triangle-wrapper;
        top: $triangle-pos;
        right: $triangle-pos;
        transform: rotate(90deg);
      }
      &--bottom-right {
        @extend .triangle-wrapper;
        bottom: $triangle-pos;
        right: $triangle-pos;
        transform: rotate(180deg);
      }
      &--bottom-left {
        @extend .triangle-wrapper;
        bottom: $triangle-pos;
        left: $triangle-pos;
        transform: rotate(270deg);
      }

      .triangle {
        width: $triangle-size;
        height: $triangle-size;
        background: var(--background-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(2px);
        clip-path: polygon(calc(100% - $triangle-border-fix) 0, 0 0, 0 calc(100% - $triangle-border-fix));
      }
    }

    // .deg-45 {
    //   position: absolute;
    //   top: 28px;
    //   left: -42px;
    //   width: 100px;
    //   z-index: 5;
    //   height: 8px;
    //   background: red;
    //   transform: rotate(-45deg);
    // }

    .corner-border {
      $middle-border-width-calc: calc($card-width * $aspect-ratio * $corner-other / 100%);
      $middle-border-width: math.hypot($middle-border-width-calc, $middle-border-width-calc);
      $side-borders-width: calc($middle-border-width / 2);

      position: absolute;
      width: $middle-border-width;
      height: $border-size;
      background: var(--color-border);
      transform-origin: top left;
      box-shadow: $neon-glow-shadow;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        width: $side-borders-width;
        height: $border-size;
        top: -$border-size;
        left: 0;
        background: var(--color-border);
        transform-origin: bottom left;
        transform: rotate(135deg);
        box-shadow: $neon-glow-shadow;
      }

      &::after {
        content: '';
        position: absolute;
        width: $side-borders-width;
        height: $border-size;
        bottom: calc(100% - $border-size);
        right: -$side-borders-width;
        background: var(--color-border);
        transform-origin: top left;
        transform: rotate(45deg);
        box-shadow: $neon-glow-shadow;
      }

      &--top-left {
        @extend .corner-border;
        top: $middle-border-width-calc;
        left: 0;
        transform: rotate(-45deg);
      }
      &--top-right {
        @extend .corner-border;
        top: 0;
        right: -17px; // TODO: What relationship is this?
        transform: rotate(45deg);
      }
      &--bottom-right {
        @extend .corner-border;
        bottom: 38px; // TODO: What relationship is this?
        right: -$middle-border-width;
        transform: rotate(135deg);
      }
      &--bottom-left {
        @extend .corner-border;
        bottom: -$border-size;
        left: $middle-border-width-calc;
        transform: rotate(-135deg);
      }
    }

    .middle-border {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 60%;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 50px;
      border-left: 4px solid var(--color-border);
      border-right: 4px solid var(--color-border);
      transform: translateY(-49%);

      .line {
        height: $border-size;
        background: var(--color-border);
        box-shadow: $neon-glow-shadow;

        &--left {
          @extend .line;
          width: 12%;
        }
        &--middle {
          @extend .line;
          width: 60%;
        }
        &--right {
          @extend .line;
          width: 12%;
        }
      }
    }

    .card {
      display: grid;
      grid-template-rows: 6fr 4fr;
      position: relative;
      min-width: $card-width;
      aspect-ratio: calc(math.floor(calc(1 / $aspect-ratio) * 1000) / 1000); // Use only 3 decimals
      position: relative;
      clip-path: $corners-off;

      .top-content {
        display: flex;
        width: 100%;
        height: 100%;
        background-image: var(--background-image);
        background-size: cover;
      }

      .bottom-content {
        width: 100%;
        height: 100%;
        background: rgba(9, 9, 19, 0.6);
      }
    }
  }
}
